/*----- Global Loader -----*/

#global-loader {
    position:fixed;
    z-index:50000;
    background: url(~/assets/admin-menu/images/loader.gif) no-repeat 50% 50% rgba(255, 255, 255);
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:0 auto
}